/* @font-face {
  font-family: "PressStart2P";
  src: url("../public/font/PressStart2P-Regular.ttf");
} */

body {
  background-color: #222;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "PressStart2P"; */
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  line-height: 16px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
